.app {
    position: relative;
    overflow: hidden;
}

.navbar {
    width: 100%;
    &-top {
        &-left {
            width: 100%;
            display: flex;
            justify-content: start;
            a {
                text-decoration: none !important;
                margin: 1rem 1rem;
                color: #636b6f;
                &:hover {
                    color: black;
                    background-color: inherit;
                }
            }
        }
        &-right {
            width: 100%;
            display: flex;
            a {
                text-decoration: none !important;
                padding: 0.5rem;
                color: #636b6f;
                &:hover {
                    color: black;
                    background-color: lightgray;
                }
            }
        }
    }
}

footer {
    display: none !important;
}

@media screen and (min-width: 520px)  {
    .navbar {
        &-top {
            &-left {
                a {
                    margin: 1rem 0 1rem 2rem;
                    &:hover {
                    }
                }
            }
            &-right {
                justify-content: end;
                a {
                    padding: 1rem 2rem;
                    &:hover {
                    }
                }
            }
        }
    }

    footer {
        display: flex !important;
    }
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
    z-index: 5;
}

.top-left {
    position: absolute;
    right: 10px;
    top: 18px;
    z-index: 1;
}



.navbar {
    position: absolute !important;
    z-index: 1;
    display: flex;
    top: 0 !important;
    right: 0 !important;
    padding: 1rem 0 !important;
    flex-wrap: inherit !important;

}


/**
*
*   Laravel
*   CSS
*
*/

html, body {
    background-color: #fff;
    color: #090910;
    font-family: 'Muli-Regular', sans-serif;
    font-weight: 800;
    // height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    // padding: 0 25px;
    // font-size: 13px;
    font-weight: 600;
    // letter-spacing: .1rem;
    text-decoration: none;
    // text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}
