/**
*
*   Laravel
*   CSS
*
*/

html,
body {
  background-color: #fff;
  color: #090910;
  font-family: "Muli-Regular", sans-serif;
  font-weight: 800;
  height: 100vh;
  margin: 0;
}

.full-height {
  height: 100vh;
}

.flex-center {
  -webkit-box-align: center;
          align-items: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  text-align: center;
}

.title {
  font-size: 84px;
}

.links > a {
  color: #636b6f;
  font-weight: 600;
  text-decoration: none;
}

.m-b-md {
  margin-bottom: 30px;
}

